body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
    color: #333;
}

h1, h2, h3 {
    color: #0056b3;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 10px 0;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, td {
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

/* Add parallax effect to the projectsanguinebanner */
.projectsanguinebanner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px; /* Adjust the height as needed */
}

/* Adjust the styles of other sections as needed */
